
#logo_container{
    width: 50px;
    height: 50px;
    transform-style: preserve-3d;
    transform: rotate3d(1, 1, 0, 0deg);
    animation: scroll-watcher ease-in-out 4s forwards;
}
@keyframes scroll-watcher {
  to {
    transform: rotate3d(1, 1, 0, 360deg)
  } 
}
.front {
   @apply bg-primary !rounded-full;
    transform: translateZ(30px);

}
.face {
  @apply text-white;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: inherit;
    font-size: 20px;
    border-radius:10px
}
.back {
    @apply bg-primary !rounded-full;
    background: rgba(34,39,81,.7);
    transform: rotateY(180deg) translateZ(30px);
}
.right {
    background: rgba(253, 231, 76,.7); 
    transform: rotateY(90deg) translateZ(30px);
}
.left {
    background: rgba(219, 84, 97,.7);
    transform: rotateY(-90deg) translateZ(30px);
}
.bottom {
    background: rgba(210,0,210,.7);
    transform: rotateX(-90deg) translateZ(30px);
}
.top {
    background: rgba(110,210,0,.7);
    transform: rotateX(90deg) translateZ(30px);
}