.item:hover {
@apply bg-primary text-black dark:bg-bgHoverMenuDark;
}
.item:hover .menu-icon{
    @apply text-black;
}
.menu-closed{
    @apply h-10 overflow-hidden bg-[#222751] ;
}
.menu-closed .arrow{
    @apply -rotate-90;
}
.menu-closed .menu-vertical-bar{
    @apply hidden
}
.menu-closed .folder-open{
    @apply hidden
}
.menu-closed .folder-closed{
    @apply block
}
.active .menu-icon{
    @apply !text-black;
}