@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --slideTime:1s
}
/* *{
outline:1px solid yellow;
} */

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
html {
    --scroll-behavior: smooth !important;
    scroll-behavior: smooth !important;
    scroll-padding-top: 80px;
}

body {
  
  @apply text-secondary;
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    ) 
    rgb(var(--background-start-rgb));
}
h3 {
  @apply text-lg;
}
p{
  @apply font-light;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
.btn{
  @apply bg-primary hover:bg-primary/90 text-white font-bold py-2 px-4 rounded;

}

.animate-text{
   overflow: hidden;
  line-height: 1.2;
  
}
.animate-text span {
 display: inline-block;
  animation: reveal 1.5s cubic-bezier(0.77, 0, 0.175, 1) 0.5s;
  animation-fill-mode: backwards;
}
@keyframes reveal {
  0% {
    transform: translate(0, -100%);
  }
  100% {
    transform: translate(0, 0);
  }
}
@keyframes slide-out {
  0% {
    transform: translate(0, 0);
    opacity: 1;
  }

  100% {
    transform: translate(-40%, 0);
    opacity:0;
  }
}


@layer utilities {
  .animated-card{
  @apply absolute right-0;
  width:auto;
  top:2%;
  left:480px;
  animation: slide-in ease-in-out var(--slideTime) forwards;
  height:96%;
  max-height:747px;

  
}
.componentSize{
  @apply lgm:h-[750px] w-full max-w-[680px] lgm:max-w-[1000px] max-lgm:rounded;
}
}

@keyframes slide-in {
  0% {
    transform: translate(-40%, 0);
    opacity: 0;
  }

  100% {
    transform: translate(0,0);
  }
}
.reveal-dot{
  color:rgb(100,116,139);
  animation: reveal-dot linear forwards;
    animation-range: 100px 200px;
  animation-timeline: view();

}
.clip-75{
  clip-path:polygon(100% 100%, 50% 50%, 52% 0%, 100% 0, 100% 100%, 0 100%, 100% 100%);
  animation: range-up-75 linear forwards;
    animation-range: 100px 200px;
  animation-timeline: view();

}
.clip-80{
  clip-path:polygon(100% 100%, 50% 50%, 52% 0%, 100% 0, 100% 100%, 0 100%, 100% 100%);
  animation: range-up-80 linear forwards;
    animation-range: 100px 200px;
  animation-timeline: view();

}
.clip-90{
  clip-path:polygon(100% 100%, 50% 50%, 52% 0%, 100% 0, 100% 100%, 0 100%, 100% 100%);
  animation: range-up-90 linear forwards;
    animation-range: 100px 200px;
  animation-timeline: view();

}
.clip-100{
  clip-path:polygon(100% 100%, 50% 50%, 50% 0%, 100% 0, 100% 100%, 0 100%, 100% 100%);
  animation: range-up-100 linear forwards;
    animation-range: 100px 200px;
  animation-timeline: view();


}
@keyframes reveal-dot{
  to{
    color:rgb(29,211,176)
  }
}
@keyframes range-up-75 {
  0% {
    clip-path:polygon(100% 100%, 50% 50%, 52% 0%, 100% 0, 100% 100%, 0 100%, 100% 100%);
  }
  25% {

    clip-path:polygon(0% 100%, 50% 50%, 52% 0%, 100% 0, 100% 100%, 0 100%, 0% 100%);
  } 
  100% {
    clip-path:polygon(0% 50%, 50% 50%, 52% 0%, 100% 0, 100% 100%, 0 100%, 0% 100%);
  }
 
}
@keyframes range-up-80 {
  0% {
    clip-path:polygon(100% 100%, 50% 50%, 52% 0%, 100% 0, 100% 100%, 0 100%, 100% 100%);
  }
  25% {

    clip-path:polygon(0% 100%, 50% 50%, 52% 0%, 100% 0, 100% 100%, 0 100%, 0% 100%);
  } 
  100% {
    clip-path:polygon(0% 20%, 50% 50%, 52% 0%, 100% 0, 100% 100%, 0 100%, 0% 100%);
  }
 
}
@keyframes range-up-90 {
  0% {
    clip-path:polygon(100% 100%, 50% 50%, 52% 0%, 100% 0, 100% 100%, 0 100%, 100% 100%);
  }
  25% {

    clip-path:polygon(0% 100%, 50% 50%, 52% 0%, 100% 0, 100% 100%, 0 100%, 0% 100%);
  } 
  75% {
    clip-path:polygon(0% 0%, 50% 50%, 52% 0%, 100% 0, 100% 100%, 0 100%, 0% 0%);
  }
  100% {
    clip-path:polygon(20% 0%, 50% 50%, 52% 0%, 100% 0, 100% 100%, 0 100%, 0% 0%);
  }
}
@keyframes range-up-100 {
  0% {
    clip-path:polygon(100% 100%, 50% 50%, 50% 0%, 100% 0, 100% 100%, 0 100%, 100% 100%);
  }
  25% {

    clip-path:polygon(0% 100%, 50% 50%, 50% 0%, 100% 0, 100% 100%, 0 100%, 0% 100%);
  } 
  75% {
    clip-path:polygon(0% 0%, 50% 50%, 50% 0%, 100% 0, 100% 100%, 0 100%, 0% 0%);
  }
  100% {
    clip-path:polygon(50% 0%, 50% 50%, 50% 0%, 100% 0, 100% 100%, 0 100%, 0% 0%);
  }
}


/* // responsive */
.flex-content{  
  @apply flex flex-col justify-start items-center gap-6;
}

.bubble{
  @apply hidden lgm:block rounded-full bg-gradient-to-t from-secondary/30 to-ternary/30 fixed;
  z-index: 0; 
}
.animation-delay{
  animation-delay: 20s!important
}
.b1{
  @apply left-10 -bottom-[10%];
  animation:bubble-up 100s infinite;
  opacity: 50%
}
.b2{
  @apply left-[10%] -bottom-[30%];
  animation:bubble-up 70s linear forwards;
  opacity:70%
}
.b3{
  @apply left-[20%] -bottom-[50%];
  animation:bubble-up 100s linear forwards;
  opacity:80%
}
.b4{
  @apply left-[30%] -bottom-[40%];
  animation:bubble-up 200s linear forwards;
  opacity:20%
}
.b5{
  @apply left-[40%] -bottom-[40%];
  animation:bubble-up 130s linear forwards;
  opacity:30%
}
.b6{
  @apply left-[50%] -bottom-[140%];
  animation:bubble-up 220s linear forwards;
  opacity:40%
}
.b7{
  @apply left-[60%] -bottom-[80%];
  animation:bubble-up 500s linear forwards;
  opacity:60%
}
.b8{
  @apply left-[70%] -bottom-[22%];
  animation:bubble-up 110s linear forwards;
  opacity:10%
}
.b9{
  @apply left-[80%] -bottom-[70%];
  animation:bubble-up 160s linear forwards;
  opacity:30%
}
.b10{
  @apply left-[90%] -bottom-[200%];
  animation:bubble-up 500s linear forwards;
  opacity:60%
}

@keyframes bubble-up{
  to{
    bottom: 110%;
    rotate:500deg
  }
}